div.form label.select_users div#results_wrapper {
    position: relative;
    z-index: 10;
}
div.form label.select_users div#results {
    position: absolute;
    border: 1px solid var(--shade3);
}
div.form label.select_users input[type=search] {
    border: 1px solid var(--shade3);
    padding: 4px 8px;
    margin-top: 4px;
    border-radius: 6px;
}
div.form label.select_users div#selected::-webkit-scrollbar-thumb {
    background: var(--shade4);
}
div.form label.select_users div#selected {
    max-height: 220px;
    overflow-y: auto;
    text-align: center;
    padding: 10px 0px;
}
