div#directory {
    text-align: center;
    width: 100%;
}
div#directory input {
    padding: 4px 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
    font-size: 22px;
    color: var(--text_color_light);
    border: 1px solid #aaa;
    border-radius: 3px;
}
div#directory div#results {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 660px;
}
