div#top_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: var(--top_menu_width);
    width: 100%;
    background: var(--top_menu_bg);
    z-index: 200;
}

/* logo */
div#top_menu div#logo {
    padding: 10px 0 10px 20px;
    width: fit-content;
    display: inline-block;
}
div#top_menu div#logo img {
    width: 230px;
    height: 40px;
}

/* notifications */
div#top_menu div#notifications {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 60px;
    margin: 5px 10px;
    background: var(--shade4);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
div#top_menu div#notifications:hover {
    background: var(--shade2);
}

div#top_menu div#notifications img {
    width: 31px;
    height: 31px;
}
