/*
 * Chat Menu
 */

div#chat {
    position: relative;
}
div#chat div.header {
    padding: 10px;
    color: var(--shade5);
    font-size: 30px;
    text-align: center;
}
/* add chat button */
div#chat div#create_thread_btn svg {
    position: absolute;
    top: 22px;
    right: 16px;
    width: 20px;
    fill: var(--shade4);
    cursor: pointer;
}
div#chat div#create_thread_btn:hover svg {
    fill: var(--shade5);
}
div#chat input {
    color: var(--text_color_light);
    border: 1px solid #aaa;
    border-radius: 10px;
    width: calc(100% - 20px);
    padding: 4px 10px;
    margin: 0px 10px 5px;
}
div#content div.thread_label {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 4px;
    border-radius: 5px;
    background: var(--shade1);
}
