/*
 * Chat Menu
 */

div#content div.thread_label {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 4px;
    border-radius: 5px;
    background: var(--shade1);
}

/*
 * Chat Thread
 */

div#content div#thread {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 82vh;
    margin-top: 10px;
}
div#content div#thread div#thread {
    display: flex;
    flex-flow: column-reverse;
    flex-grow : 1;
    width: calc(100% - 40px);
    border: 1px solid var(--shade2);
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
div#content div#thread img.threadpic {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 10px;
    left: 0px;
}

/*
 * Chat input
 */
div#content div#thread div#thread_input_wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
}
div#content div#thread div#thread_input {
    font-family: "EB Garamond";
    font-size: 16px;
    color: var(--text_color);
    width: calc(100% - 70px);
    cursor: text;
    white-space: pre-wrap;
    display: inline-block;
    background: var(--shade1);
    border: 1px solid var(--shade1);
    border-radius: 20px;
    outline: inherit;
    padding: 10px 50px 10px 20px;
    margin-top: 10px;
}
div#content div#thread div#thread_input_wrapper div#emoji {
    position: absolute;
    right: 10px;
    bottom: 6px;
    cursor: pointer;
}
div#content div#thread div#thread_input_wrapper div#emoji img {
    width: 30px;
    height: 30px;
    opacity: 0.1;
}
div#content div#thread div#thread_input_wrapper div#emoji img:hover {
    width: 30px;
    height: 30px;
    opacity: 0.2;
}

em-emoji-picker {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

/* message */
div#content div#thread div.message_wrapper {
    width: calc(100% - 30px);
    position: relative;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 20px;
    right: 20px;
}
div#content div#thread div.message_wrapper div.me_bar {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 28px;
    left: -4px;
    border-radius: 50%;
    background: var(--shade3);
}

div#content div#thread div.message_wrapper div.message {
    margin-left: 60px;
    padding: 1px 4px;
    position: relative;
    border-bottom: 1px solid var(--shade1);
}
div#content div#thread div.message_wrapper div.message:hover {
    border-radius: 8px;
    background: var(--shade1);
}

div#content div#thread div.message_wrapper div.name {
    margin-left: 64px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}
div#content div#thread div.message_wrapper img.threadpic {
    left: 10px;
}
div#content div#thread div.message_wrapper div.message div.heart {
    font-family: sans-serif;
    font-size: 12px;
    color: var(--text_color_light);
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 8px;
    top: 2px;
    display: inline-block;
    visibility: hidden;
}
div#content div#thread div.message_wrapper div.message div.heart.show {
    visibility: visible;
}
div#content div#thread div.message_wrapper div.message:hover div.heart:not(.noclick) {
    visibility: visible;
}
div#content div#thread div.message_wrapper div.heart img {
    padding: 2px;
    width: 16px;
    height: 16px;
}
div#content div#thread div.message_wrapper div.heart:not(.noclick) img {
    cursor: pointer;
}
div#content div#thread div.message_wrapper div.message div.timestamp {
    font-family: sans-serif;
    font-size: 12px;
    background: var(--shade1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: var(--text_color_light);
    display: inline-block;
    text-align: center;
    position: absolute;
    padding: 5px 10px;
    right: 0;
    top: -20px;
    display: none;
}
div#content div#thread div.message_wrapper div.message:hover div.timestamp {
    display: inline-block;
}



/* label */
div#content div#thread div#label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
div#content div#thread div#label span {
    padding: 4px 20px 4px 70px;
    font-size: 20px;
    background: var(--background);
    border-radius: 10px;
    z-index: 100;
    position: absolute;
    top: -9px;
}
div#content div#thread div#label span img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: -1px;
}
/* divider */
div#content div#thread div.divider {
    margin: 12px 6px;
    width: calc(100% - 16px);
    height: 8px;
    text-align: center;
}
div#content div#thread div.divider.timestamp {
    border-bottom: 1px solid var(--shade4);
}
div#content div#thread div.divider span {
    font-family: sans-serif;
    font-size: 12px;
    color: var(--shade4);
    background: var(--background);
    padding: 0 16px;
}

/* chat recent label */
div#chat div.header {
    padding: 10px;
    color: var(--shade5);
    font-size: 30px;
    text-align: center;
}
div#chat input {
    color: var(--text_color_light);
    border: 1px solid #aaa;
    border-radius: 10px;
    width: calc(100% - 20px);
    padding: 4px 10px;
    margin: 0px 10px 5px;
}
